
<main class="container" *ngIf="!formVisible">
  <button mat-flat-button color="accent" (click) = "onAddAssignmentbtnClick()" class="ajouterBtn "> Ajouter Assignment</button>
  <mat-list *ngFor="let assignment of assignments" [ngClass]="{
       'rendu':assignment.rendu,
       'nonrendu':'2px solid blue'
      }">
    <h3 mat-subheader>{{assignment.dateDeRendu |date}}</h3>
    <mat-list-item (click)="assignmentClique(assignment)">
      <p appRendu *ngIf="assignment.rendu; else nonsoumis">
        Devoir intitulé {{assignment.nom}}, a été rendu.
      </p>
      <ng-template #nonsoumis>
        <p>Le devoir {{assignment.nom}} n'a pas été rendu !</p>
      </ng-template>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</main>
<app-assignment-detail *ngIf="formVisible "></app-assignment-detail>

<app-add-assignment (nouvelAssignment)="onNouvelAssignment($event)" *ngIf="formVisible"></app-add-assignment>


<app-assignment-detail (supprimeAssignment)="supprimeAssignment($event)" [assignmentTransmis]="assignmentSelectionne"></app-assignment-detail>
