
<mat-toolbar color="primary" class="toolbar">
  <span>Truc</span>
  <div [formGroup]="connexionForm" class="containerLogIn">
    <span class="loginInputs">
      <mat-form-field appearance="fill" style="margin-right: 2%">
      <mat-label>Pseudo</mat-label>
      <input matInput placeholder="Entrez votre pseudo" required formControlName="pseudo">
      <mat-error *ngIf="connexionForm.get('pseudo').invalid"> {{getErrorPseudoMessage()}} </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Entrez votre mot de passe" required formControlName="motDePasse">
      <button class="buttonHide"mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'cacher mot de passe'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="connexionForm.get('motDePasse').invalid"> {{getErrorMotDePasseMessage()}} </mat-error>
    </mat-form-field>
    </span>
    <mat-checkbox (change)="setAdmin()">admin</mat-checkbox>
    <span class="loginButton">
      <button mat-raised-button (click)="onSubmitConnexion()">Connexion</button>
      <button mat-raised-button (click)="onSubmitInscription()">Inscription</button>
    </span>

  </div>
</mat-toolbar>
